* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-size: 90%;
  font-weight: bolder;
  background: lightblue;
  font-family: sans-serif;
  max-width: 960px;
  margin: auto; }
